image: node:11.15.0

cache:
    paths:
        - node_modules/
        - .yarn

stages:
    - test

test:
    stage: test

    before_script:
        - yarn config set cache-folder .yarn
        - yarn install

    script:
        - yarn lint
        - yarn test
