/* sanitize.css is a CSS library that provides consistent, cross-browser
   default styling of HTML elements alongside useful defaults.
   https://github.com/csstools/sanitize.css */
@import "sanitize";
@import "sanitize/forms";

:root {
    --color-white: #fff;
    --color-black: #000;

    /* use --color-melbourne-cup for turquoise (#05c0a5) */
    --color-melbourne-cup: #3bc1aa;
    --color-celestial-green: #3ed7bc;
    --color-green-jelly: #269983;
    --color-peral: #f9f9f9;
    --color-basalt-grey: #999;
    --color-jupiter: #e0e0e0;
    --color-ghostlands-coal: #003945;
    --color-lightish-red: #ff2f49;
    --color-washed-black: #212529;
    --color-ashen-wind: #96a8b6;
    --color-yankees-blue: #0b2840;
    --color-boysenberry-shadow: #f2f4fa;
}

body {
    background-color: var(--color-peral);
    min-height: inherit;
}

html {
    min-height: 100vh;
    padding: 0;
}
