/* sanitize.css is a CSS library that provides consistent, cross-browser
   default styling of HTML elements alongside useful defaults.
   https://github.com/csstools/sanitize.css */
@import "sanitize";
@import "sanitize/forms";

:root {
    /* Colors */
    --color-admiralty: #434f61;
    --color-aggressive-salmon: #ff7795;
    --color-ashen-wind: #96a8b6;
    --color-basalt-grey: #999;
    --color-black: #000;
    --color-boathouse: #536d8b;
    --color-boston-blue: #2f96b4;
    --color-boysenberry-shadow: #f2f4fa;
    --color-bubble-bobble-p2: #0084ff;
    --color-byzantine-night-blue: #5a78f0;
    --color-california-orange: #f89406;
    --color-celestial-green: #3ed7bc;
    --color-china-blue: #506175;
    --color-coral-red: #ff4040;
    --color-dilly-blue: #334758;
    --color-distant-horizon: #f3fafa;
    --color-fruit-salad: #51a351;
    --color-ghostlands-coal: #003945;
    --color-golden-yellow: #ffdf00;
    --color-green-fluorite: #56b7a9;
    --color-green-jelly: #269983;
    --color-hera-blue: #7070e3;
    --color-infra-red: #ff436d;
    --color-international: #3766aa;
    --color-jupiter: #e0e0e0;
    --color-lightish-red: #ff2f49;
    --color-lynx-screen-blue: #25b0e8;
    --color-melbourne-cup: #3bc1aa;
    --color-peral: #f9f9f9;
    --color-sheer-peach: #fff7e7;
    --color-silver-polish: #c7c7c7;
    --color-sunkist-coral: #e96071;
    --color-warm-pink: #ff5a7f;
    --color-washed-black: #212529;
    --color-white: #fff;
    --color-yankees-blue: #0b2840;
}

html {
    min-height: 100vh;
    padding: 0;
}

body {
    min-height: inherit;

    /* For the Modal component */
    &.modal-is-open {
        overflow: hidden;
    }
}
